@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$open-sans: 'Open Sans', sans-serif;
$arial: Arial, sans-serif;

body {
  width: 100%;
  text-align: center;
  font-family: $open-sans;
}

.container {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

.scoreboard {
  text-align: right;
}

canvas {
  border: 1px solid lightgray;
}

.bookmarks {
  canvas {
    border-color: lightgray;
    height: 200px;
    margin: 5px;
  }
}

.control-pane {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  border: 1px solid lightgray;
  margin-right: 1em;
  padding: 1em;
  > * {
    margin-bottom: 0.75em;
  }
}

p {
  margin: 0;
}

hr {
  width: 100%;
}
