// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

// $open-sans: 'Open Sans', sans-serif;
// $arial: Arial, sans-serif;

body {
  width: 100%;
  text-align: center;
}

canvas {
  border: 1px solid black;
}

#sheet-music {
  margin-top: 5vh;
}

.bookmarks {
  canvas {
    border-color: #888;
    height: 200px;
    margin: 5px;
  }
}
