@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$open-sans: 'Open Sans', sans-serif;
$arial: Arial, sans-serif;

body {
  width: 100%;
  text-align: center;
  font-family: $open-sans;
}

.container {
  width: 1000px;
  margin: 2em auto;
}

.scoreboard {
  text-align: right;
}

canvas {
  margin-top: 2em;
  border: 1px solid black;
}

.bookmarks {
  canvas {
    border-color: #888;
    height: 200px;
    margin: 5px;
  }
}
